body {
    background-color: hsl(212, 45%, 89%);
}

h1 {
    color: hsl(218, 44%, 22%);
    font-weight: 700;
    font-size: 20px;
    margin-top: 0;
}

p {
    color: hsl(220, 15%, 55%);
    font-weight: 400;
    font-size: 15px;
    padding-bottom: 20px;
}

img {
    width: 280px;
    padding: 15px;
    border-radius: 8%;
}

.card {
    background-color: hsl(0, 0%, 100%);
    width: 310px;
    border-radius: 0.5cm;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.text {
    font-family: 'Outfit', sans-serif;
    padding: 0 25px;
    text-align: center;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%);
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

a:hover { 
    color: hsl(228, 82%, 15%); 
}
