html {
    display: flex;
    justify-content: center;
}

/* 
We set the body element to be a flex container with a flex-direction of column,
which will align its children vertically.
 We set the justify-content property to space-between,
which will push the card and attribution elements to the top and bottom of the container,
respectively.
*/

body {
    background-color: hsl(212, 45%, 89%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

h1 {
    color: hsl(218, 44%, 22%);
    font-weight: 700;
    font-size: 1.25rem;
    margin-top: 0;
}

p {
    color: hsl(220, 15%, 55%);
    font-weight: 400;
    font-size: 0.9rem;
    padding-bottom: 20px;
}

img {
    width: 280px;
    padding: 15px;
    border-radius: 8%;
}

.card {
    background-color: hsl(0, 0%, 100%);
    width: 310px;
    border-radius: 10px;
}

.text {
    font-family: 'Outfit', sans-serif;
    padding: 0 25px;
    text-align: center;
}


/* 
By using margin-top: auto on the attribution element,
we are effectively pushing it to the bottom of the container. 
This works because,
in a flex container with a flex-direction of column,
the auto margin on a child element will push it to the bottom of the container. 
The card element will take up as much space as it needs,
while the attribution element will take up the remaining space.
*/
.attribution {
    font-size: 0.7rem;
    margin-top: auto;
    font-size: 0.8rem;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

a:hover {
    color: hsl(228, 82%, 15%);
}
